---
layout: default
title: Contact Sales
suppress_header: true
extra_css:
  - sales-and-free-trial-common.css
  - faq.css
extra_js:
  - faq.js

---
.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1 Contact Sales
  .centered-form
    .centered-form-info
      Please contact our sales team with any questions
      about
      %a{href: "/features/#enterprise"} GitLab Enterprise Edition
      and someone will get back to you within one business day. If you need technical help, visit
      %a{href: "/getting-help/"} Getting Help

    %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
    %form#mktoForm_1415
    :javascript
      MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1415, function(form) {
        form.onSuccess(function(values, followUpUrl) {

          form.getFormElem().hide();
          document.getElementById('confirmform').style.visibility = 'visible';

          dataLayer.push({event: 'mktoLead', mktoFormId: form.getId()});
          return false;
        });
        function getgacid() {
          try {
            var tracker = ga.getAll()[0];
            return tracker.get('clientId');
          } catch (e) {
            return 'n/a';
          }
        }
        form.vals({
          'gacid': getgacid()
        });
      });
    #confirmform{style: "visibility:hidden;"}
      %p Submission received! We'll be in contact shortly.
    %br/
    %br/
    %p.centered-form-info.small-text{style: "text-align: center;"} If you're not able to see the form above, please email us at: sales [at] gitlab.com
    %br/
    %br/

.content-container.animated
  .container
    %h2.faq-title.light.text-center
      Frequently Asked Questions
    .faq-holder.clearfix
      - questions = data.sales_faq.questions
      - size = (questions.size / Float(2)).ceil
      - questions.each_slice(size).to_a.each do |group|
        = partial "includes/layout/question_group", locals: { group: group }
